{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div>
            <h1 class="logo">
                <img src="/public/images/crest.png" alt="crest">
                <div class="govuk-body-m">British Embassy Dusseldorf</div>
            </h1>
        </div>

        <section class="mobile-show-visibility govuk-body govuk-!-margin-bottom-8">
            <div>
                English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-madrid.es">Español</a>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
            </div>
            <div class="govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Location:</div>
                <div class="sidebar-row-value"><a class="govuk-link" href="https://fco-findability.herokuapp.com/help-and-services">Spain</a></div>
            </div>
            <div class="govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Part of:</div>
                <div class="sidebar-row-value"><a class="govuk-link" href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">Foreign, Commonwealth & Development Office</a></div>
            </div>
        </section>

        <p class="govuk-body-l">
            The British Embassy in Madrid maintains and develops relations between the UK and Spain.
        </p>

        <h2 class="govuk-heading-m">Getting help in Spain</h2>

        <p>
            If you need urgent medical assistance or are a victim of crime, call the local emergency services on 112. Contact your insurance company if you have it.
        </p>

        <p>In most non-emergency situations, you will be able to help yourself without needing to contact the British Embassy. Check our guidance on:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                lost or stolen <a class="govuk-link" href="https://www.gov.uk/report-a-lost-or-stolen-passport">passports or travel documents</a>
            </li>
            <li>
                getting an <a class="govuk-link" href="https://www.gov.uk/emergency-travel-document">emergency travel document</a> if your passport has been lost or stolen
            </li>
            <li>
                being <a class="govuk-link" href="https://www.gov.uk/government/publications/spain-prisoner-pack">arrested in Spain</a>
            <li>
                getting help if you’re a <a class="govuk-link" href="https://www.gov.uk/victim-crime-abroad">victim of crime</a>
            </li>
            <li>
                dealing with a <a class="govuk-link" href="https://www.gov.uk/guidance/what-to-do-after-a-british-person-dies-in-spain">death in Spain</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/foreign-travel-advice/spain">travel advice</a> for Spain
            </li>


            <li>
                finding English-speaking <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=spain&serviceType=lawyers">lawyers</a>, <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=spain&serviceType=funeral-directors"> funeral directors</a> and <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=spain&serviceType=translators-interpreters">translators and interpreters</a> in Spain
            </li>




        </ul>

        <p>
            See all the
            <a href="https://fco-findability.herokuapp.com/help-and-services" class="govuk-link">help and services guidance</a> for travelling and living in Spain. If you need advice which is not covered by this guidance you can <a href="https://www.contact-embassy.service.gov.uk/?country=Spain&post=British%20Embassy%20Madrid" class="govuk-link">contact us online</a>.
        </p>
        </p>


        <h3 class="govuk-heading-s">If you need emergency assistance from the British Consulate</h3>
        <p>We can help British nationals in emergencies. We will prioritise helping those who are vulnerable and need our help the most. The help we can provide depends on the situation and the person’s circumstances. We cannot give legal advice or interfere in criminal or civil court proceedings in another country.
        </p>


        <p>If you’re in:</p>


        <ul class="govuk-list govuk-list--bullet">
            <li>
                Spain and need urgent help (for example, you’ve been attacked or arrested) call +34 91 714 6300
            </li>
            <li>
                the UK and need assistance for someone in Spain call 020 7008 5000
            </li>
        </ul>


        <h2 class="govuk-heading-m">Official documents and services we provide</h2>

        <p>
            In certain circumstances, we can provide <a href="https://www.gov.uk/guidance/notarial-and-documentary-services-guide-for-spain" class="govuk-link">notarial and documentary services</a> for British nationals in Spain. Consular staff can:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                administer an oath, affirmation or affidavit
            </li>
            <li>
                make a certified copy of a British passport or UK degree certificate
            </li>
            <li>
                unite documents
            </li>
            <li>
                prepare a document in English or the local language
            </li>
        </ul>

        <p>
            You will need to <a href="https://www.gov.uk/government/publications/spain-consular-fees" class="govuk-link">pay a fee</a> for these services.
        </p>


        <h2 class="govuk-heading-m">Other embassies and consulates in Spain</h2>


        <p>You can also find embassies or consulates in:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-alicante">Alicante</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-consulate-general-barcelona">Barcelona</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-ibiza">Ibiza</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-las-palmas-de-gran-canaria">Las Palmas</a>
            </li>



            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-malaga">Malaga</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-palma-de-mallorca">Palma de Mallorca</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-santa-cruz-de-tenerife">Santa Cruz de Tenerife</a>
            </li>



        </ul>


        <p>
            Read
            <a href="https://www.gov.uk/world/spain/news" class="govuk-link">news for UK and Spain</a> from the Foreign, Commonwealth and Development Office.
        </p>


    </div>

    <div class="govuk-grid-column-one-third govuk-body-s">
        <section class="mobile-hide">
            <div class="govuk-grid-row">
                English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="#https://www.gov.uk/world/organisations/british-embassy-madrid.es">Español</a>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Location:</div> <a class="govuk-link sidebar-row-value" href="https://fco-findability.herokuapp.com/help-and-services">Spain</a>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Part of:</div> <a class="govuk-link sidebar-row-value" href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">Foreign, Commonwealth & Development Office</a>
            </div>
        </section>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-s">Follow us</h3>
                <p class="govuk-body-s">Sharing will open the page in a new tab</p>
                <div class="social-wrapper">
                    <a target="_blank" rel="noopener noreferrer external" href="https://www.facebook.com/Britishembassymadrid">
                        <img class="social-image" src="/public/images/fb.svg" alt="fb" />
                        <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                            BE Madrid on Facebook
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="https://twitter.com/ukinspain">
                        <img class="social-image" src="/public/images/twitter.svg" alt="twitter" />
                        <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                            BE Madrid on Twitter
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="http://www.flickr.com/photos/ukinspain">
                        <img class="social-image" src="/public/images/flikr.svg" alt="Flickr" />
                        <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                            BE Madrid on Flickr
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="https://www.youtube.com/channel/UCFI_X3rQVHwoQjW0AJAzjew">
                        <img class="social-image" src="/public/images/youtube.svg" alt="Youtube" />
                        <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                            BE Madrid on Youtube
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="https://www.instagram.com/ukinspain/">
                        <img class="social-image" src="/public/images/instagram.svg" alt="Instagram" />
                        <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                            BE Madrid on Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Our people</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <img src="/public/images/man.jpg" alt="man">
                <a href="https://www.gov.uk/government/people/hugh-elliott" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Hugh Elliott</a>
                <p class="govuk-body-s">British Ambassador to Spain</p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Contact us</h2>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">British Embassy Madrid</p>
                <p>Torre Emperador Castellana <br>
                    Paseo de la Castellana 259D <br>
                    28046 Madrid <br>
                    Spain
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-margin-top-5">
                    Telephone <br>
                    +34 917 146 300 <br>
                    <br>
                    Fax <br>
                    +34 917 146 301
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-margin-top-5">Use our contact form for consular enquiries, including on your rights after the UK’s exit from the EU: <br><a href="http://www.gov.uk/contact-consulate-madrid" class="govuk-link">www.gov.uk/contact-consulate-madrid</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s">
                    <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-madrid/office/british-embassy">Access and opening times</a>
                </p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Corporate information</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-madrid/about/complaints-procedure">Complaints procedure</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-madrid/about/recruitment">Working for British Embassy Madrid</a></li>
        </ul>
    </div>
</div>

{% endblock %}
