{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
        <h1 class="logo">
            <img src="/public/images/crest.png" alt="crest">
            <div class="govuk-body-m"> British Consulate General Düsseldorf </div>
        </h1>
    </div>

    <section class="mobile-show-visibility govuk-body govuk-!-margin-bottom-8">
        <div>
            English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin.de">Deutsch</a>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
        </div>
        <div class="govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Location:</div>
            <div class="sidebar-row-value"><a class="govuk-link" href="#https://fco-findability.herokuapp.com/help-and-services">Germany</a></div>
        </div>
        <div class="govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Part of:</div>
            <div class="sidebar-row-value"><a class="govuk-link" href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">Foreign, Commonwealth & Development Office</a></div>
        </div>
    </section>

    <p class="govuk-body-l">
        The British Consulate-General in Düsseldorf represents the UK government in North Rhine-Westphalia, Rhineland-Palatinate, Hessen and Saarland.
    </p>


    <h2 class="govuk-heading-m">Getting help in Germany</h2>

    <p>
        If you need urgent medical help or are a victim of crime, call the local emergency services on 112. Contact your insurance provider if you have one. They will tell you what your policy covers, and what you need to do to make a claim.
    </p>

    <p>In many situations, you will be able to help yourself without needing to contact the British Embassy. Check our guidance on:
    </p>

    <ul class="govuk-list govuk-list--bullet">

          <li>
              finding English-speaking <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=germany&serviceType=lawyers">lawyers</a>, <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=germany&serviceType=funeral-directors"> funeral directors</a> and <a class="govuk-link" href="https://find-a-professional-service-abroad.service.csd.fcdo.gov.uk/find?country=germany&serviceType=translators-interpreters">translators and interpreters</a> in Germany
          </li>
        <li>
          dealing with a <a class="govuk-link" href="https://www.gov.uk/guidance/what-to-do-after-a-british-person-dies-in-germany">death in Germany</a>
      </li>

      <li>
          being <a class="govuk-link" href="https://www.gov.uk/government/publications/germany-prisoner-pack">arrested in Germany</a>
          <li>
              getting help if you’re a <a class="govuk-link" href="https://www.gov.uk/victim-crime-abroad">victim of crime</a>
          </li>
          
          <li>
              <a class="govuk-link" href="https://www.gov.uk/foreign-travel-advice/germany">travel advice</a> for Germany
          </li>


      </ul>

<h3 class="govuk-heading-s">If you need urgent or emergency assistance</h3>


    <p>We can help British nationals in emergencies in Germany. We will prioritise helping those who are vulnerable and need our help the most. For example if you:</p>

<ul class="govuk-list govuk-list--bullet">
<li>have been injured or assaulted</li> 
<li>are arrested for a crime</li> 
<li>know a British national in Germany who has died and you need assistance</li> 
</ul>

<p>If you need emergency assistance, or if our guidance has not given you the help you need:</p>

<!-- </p>
    <p>You can call us in an emergency at any time, or if our guidance has not given you the help you need:</p> -->

<!-- <p>If you are in:</p> -->
    <ul class="govuk-list govuk-list--bullet">
        <li>
          in North-Rhine Westphalia, Rhineland-Palatinate, Hessen or Saarland call +49 (0)21 194 480
      </li>
      <li>
        in the UK (or  elsewhere in Germany) call +44 (0)20 7008 5000
    </li>
</ul>

<p>Our phone lines are open 24/7.</p>

<h2 class="govuk-heading-m">If you cannot use your passport</h2>

<p>You can apply for an <a class="govuk-link" href="https://www.gov.uk/emergency-travel-document">emergency travel document</a> if you need to travel urgently and cannot use your passport because it is lost, stolen or damaged.</p> 

<p>If you are travelling in more than 3 weeks, check if you can <a class="govuk-link" href="https://www.gov.uk/renew-adult-passport">get a new or replacement passport</a> in time to travel.</p>

<p>If you do not need to travel urgently, you should still <a class="govuk-link" href="https://www.gov.uk/report-a-lost-or-stolen-passport">report a lost or stolen passport</a>.</p>
    
<h2 class="govuk-heading-m">Getting a visa to the UK</h2>

<p>The British Embassy does not provide visas and cannot advise on UK visas. If you have any questions about the application process or your visa status, <a class="govuk-link" href="https://www.gov.uk/contact-ukvi-inside-outside-uk">contact UK Visas and Immigration</a>.</p>

<p>A Schengen visa or residence permit does not entitle you to travel to the UK without a visa. You can <a class="govuk-link" href="https://www.gov.uk/check-uk-visa">check whether you need a visa and apply for one</a>.</p>

<h2 class="govuk-heading-m">Official documents and services we provide</h2>

<p>
    We provide a limited range of <a href="https://www.gov.uk/guidance/notarial-and-documentary-services-guide-for-germany" class="govuk-link">notarial and documentary services</a> when local notary publics, solicitors, or lawyers cannot provide them. You will need to <a href="https://www.gov.uk/government/publications/germany-consular-fees" class="govuk-link">pay a fee</a> for these services.

</p>


<h2 class="govuk-heading-m">Support for British nationals living in Germany</h2>

<p>Read our guidance for <a class="govuk-link" href="https://www.gov.uk/guidance/living-in-germany">living in Germany</a> for information on travelling to, living, working and studying there.</p>

<p>You can find a full list of <a class="govuk-link" href="https://fco-findability.herokuapp.com/germany/help-and-services">UK help and services</a> available in Germany.</p>







<h2 class="govuk-heading-m">Other UK embassies and consulates in Germany</h2>


<p>You can also find UK embassies and consulates in:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin">Berlin</a>
  </li>
  <li>
      <a class="govuk-link" href="https://www.gov.uk/government/world/organisations/british-consulate-general-munich">Munich</a>
  </li>
</ul>


</div>

<div class="govuk-grid-column-one-third govuk-body-s">
    <section class="mobile-hide">
        <div class="govuk-grid-row">
            English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin.de">Deutsch</a>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Location:</div> <a class="govuk-link sidebar-row-value" href="https://fco-findability.herokuapp.com/germany/help-and-services">Germany</a>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Part of:</div> <a class="govuk-link sidebar-row-value" href="https://www.gov.uk/government/organisations/foreign-commonwealth-development-office">Foreign, Commonwealth & Development Office</a>
        </div>
    </section>
    <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">Follow us</h3>
            <p class="govuk-body-s">Sharing will open the page in a new tab</p>
            <div class="social-wrapper">
                <a target="_blank" rel="noopener noreferrer external" href="https://www.facebook.com/BritishembassyBerlin">
                    <img class="social-image" src="/public/images/fb.svg" alt="fb" />
                    <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                        Our Embassy on Facebook
                    </div>
                </a>
            </div>
            <div class="social-wrapper govuk-!-margin-top-2">
                <a target="_blank" rel="noopener noreferrer external" href="https://twitter.com/ukinspain">
                    <img class="social-image" src="/public/images/twitter.svg" alt="twitter" />
                    <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                        Our Embassy on Twitter
                    </div>
                </a>
            </div>
            <div class="social-wrapper govuk-!-margin-top-2">
                <a target="_blank" rel="noopener noreferrer external" href="https://www.instagram.com/ukinspain/">
                    <img class="social-image" src="/public/images/instagram.svg" alt="Instagram" />
                    <div class="govuk-!-font-weight-bold">
                        <span class="govuk-visually-hidden">
                            Share on
                        </span>
                        Our Embassy on Instagram
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Our people</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <img src="/public/images/man.jpg" alt="man">
                <a href="https://www.gov.uk/government/people/jill-gallard" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Jill Gallard</a>
                <p class="govuk-body-s">British Ambassador to Germany</p>
            </div>
                   <div class="govuk-grid-column-one-quarter">
                <a href="https://www.gov.uk/government/people/jill-gallard" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Kieran Drake</a>
                <p class="govuk-body-s">Deputy Head of Mission, Germany</p>
            </div>

                              <div class="govuk-grid-column-one-quarter">
                <a href="https://www.gov.uk/government/people/jill-gallard" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Rafe Courage</a>
                <p class="govuk-body-s">British Consul-General, Düsseldorf</p>
            </div>

                              <div class="govuk-grid-column-one-quarter">
                <a href="https://www.gov.uk/government/people/jill-gallard" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Simon Kendall</a>
                <p class="govuk-body-s">British Consul-General, Munich</p>
            </div>



        </div>



        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Contact us</h2>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">British Embassy Berlin</p>
                <p>Consular Section<br>
                    Wilhelmstraße 70/71<br>
                    10117 Berlin<br>
                    Germany
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-margin-top-5">
                    Telephone <br>
                    +49 (0) 30 204570 <br>
                    <br>
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-margin-top-5">Public access to the Consular Section is by appointment only.<br><br>
                    Use our contact form for consular enquiries, including on your rights after the UK’s exit from the EU: <a href="https://www.contact-embassy.service.gov.uk/?country=Germany&post=British%20Embassy%20Berlin%20" class="govuk-link">www.gov.uk/contact-consulate-Berlin</a><br><br>

                    For enquiries that are not about consular assistance, email <a href="http://www.gov.uk/contact-consulate-Berlin" class="govuk-link">ukingermany@fcdo.gov.uk</a><br><br>

            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s">
                    <a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin/office/british-embassy-berlin">Access and opening times</a>
                </p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Corporate information</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin/about/complaints-procedure">Complaints procedure</a></li>
            <li><a class="govuk-link" href="https://www.gov.uk/world/organisations/british-embassy-berlin/about/recruitment">Working for British Embassy Berlin</a></li>
        </ul>
    </div>
</div>

{% endblock %}
