{% extends "layouts/main.html" %}

{% block pageTitle %}
Home - Germany – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Germany - {{ serviceName }}
    </h1>
    <a class="govuk-heading-m" href="/germany/berlin">
      Berlin
    </a>
    <a class="govuk-heading-m" href="/germany/dusseldorf">
      Dusseldorf
    </a>
    <a class="govuk-heading-m" href="/germany/munich">
      Munich
    </a>
    <a class="govuk-heading-m" href="/germany/help-and-services">
      Help and services
    </a>

    <a class="govuk-heading-m" href="/">
      Spain
    </a>

  </div>
</div>

{% endblock %}
