{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
        <h1 class="logo">
            <img src="/public/images/crest.png" alt="crest">
            <div class="govuk-body-m">British Embassy Madrid</div>
        </h1>
    </div>

    <section class="mobile-show-visibility govuk-body govuk-!-margin-bottom-8">
        <div>
            English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="#14">Español</a>
            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
        </div>
        <div class="govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Location:</div>
            <div class="sidebar-row-value"><a class="govuk-link" href="#15">Spain</a></div>
        </div>
        <div class="govuk-!-margin-top-5 sidebar-row">
            <div class="sidebar-row-title">Part of:</div>
            <div class="sidebar-row-value"><a class="govuk-link" href="#16">Foreign, Commonwealth & Development Office</a></div>
        </div>
    </section>

    <p class="govuk-body-l">
        The British Embassy in Madrid maintains and develops relations between the UK and Spain.
    </p>
    <p>
        Find out more on our <a href="#3" class="govuk-link">UK and Spain news page</a>.
    </p>

    <p>
        We provide services to British nationals living in and visiting Spain. You can
        <a href="#" class="govuk-link">access UK government services while in Spain</a>.
    </p>

    <p>Read the latest information on the rights and status of <a href="#4" class="govuk-link">UK nationals in the EU</a>.</p>

    <h2 class="govuk-heading-m">Urgent assistance</h2>

    <section class="govuk-cookie-banner region-spacing govuk-!-margin-bottom-7" data-nosnippet role="region" aria-label="Cookies on [name of service]">
        <div class="govuk-body govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-bottom-0">
                If you’re travelling in Spain, see our <a href="#5" class="govuk-link">Spain Travel Advice</a> about coronavirus (COVID-19).
                &nbsp;
                See also our <a href="#6" class="govuk-link">coronavirus travel advice</a> for all our latest guidance on travel during coronavirus.
            </p>
        </div>
    </section>

    <p>
        If you’re in Madrid, northern or central Spain and you need advice which is not covered by reading our travel advice then you can <a href="#7" class="govuk-link">contact us online</a>.
    </p>

    <p>
        If you’re in Spain and you need urgent help (for example, you’ve been attacked or arrested), call +34 91 714 6300. If  you’re in the UK and worried about a British person in Spain, call 020 7008 5000.
    </p>

    <h2 class="govuk-heading-m">If your passport has been lost or stolen</h2>

    <p>
        If you’re abroad and your passport has been lost or stolen, damaged or expired, and you cannot get a new or replacement passport in time to travel, <a href="#8" class="govuk-link">apply online for an emergency travel document</a>
    </p>

    <h2 class="govuk-heading-m">If a British person has died in Spain</h2>

    <p><a href="#9" class="govuk-link">Read this guide for what to do if a British person dies in Spain</a> to help you through the practical arrangements you need to follow after a death in Spain.</p>

    <p>If you are dealing with the death of a child, multiple deaths, a suspicious death or a case of murder or manslaughter, or have read the guide and feel you need more support, call +34 91 714 6300.</p>

    <h2 class="govuk-heading-m">Other consular services</h2>

    <h3 class="govuk-heading-s">Notarial and documentary services</h3>

    <p>
        See the full list of <a href="#" class="govuk-link">notarial and documentary services</a> we provide.
    </p>

    <h3 class="govuk-heading-s">Consular fees</h3>

    <p>We charge fees for some of our services. See the <a href="#" class="govuk-link">full list of consular fees in Spain</a>.</p>

    <p>We also provide services in:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="#10">Alicante</a>
        </li>
        <li>
          <a class="govuk-link" href="#11">Barcelona</a>
        </li>
        <li>
          <a class="govuk-link" href="#12">Ibiza</a>
        </li>
        <li>
          <a class="govuk-link" href="#13">Las Palmas</a>
        </li>
      </ul>

  </div>

    <div class="govuk-grid-column-one-third govuk-body-s">
        <section class="mobile-hide">
            <div class="govuk-grid-row">
                English <span class="pipe-spacing ">|</span> <a class="govuk-link" href="#14">Español</a>
                <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible language-separator">
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Location:</div> <a class="govuk-link sidebar-row-value" href="#15">Spain</a>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5 sidebar-row">
                <div class="sidebar-row-title">Part of:</div> <a class="govuk-link sidebar-row-value" href="#16">Foreign, Commonwealth & Development Office</a>
            </div>
        </section>
        <div class="govuk-grid-row govuk-!-margin-top-7">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-s">Follow us</h3>
                <p class="govuk-body-s">Sharing will open the page in a new tab</p>
                <div class="social-wrapper">
                    <a target="_blank" rel="noopener noreferrer external" href="#17">
                        <img class="social-image" src="/public/images/fb.svg" alt="fb" />
                        <div class="govuk-!-font-weight-bold">
                            <span class="govuk-visually-hidden">
                            Share on
                            </span>
                            BE Madrid on Facebook
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="#18">
                        <img class="social-image" src="/public/images/twitter.svg" alt="twitter" />
                        <div class="govuk-!-font-weight-bold">
                            <span class="govuk-visually-hidden">
                            Share on
                            </span>
                            BE Madrid on Twitter
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="#19">
                        <img class="social-image" src="/public/images/flikr.svg" alt="Flickr" />
                        <div class="govuk-!-font-weight-bold">
                            <span class="govuk-visually-hidden">
                            Share on
                            </span>
                            BE Madrid on Flickr
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="#20">
                        <img class="social-image" src="/public/images/youtube.svg" alt="Youtube" />
                        <div class="govuk-!-font-weight-bold">
                            <span class="govuk-visually-hidden">
                            Share on
                            </span>
                            BE Madrid on Youtube
                        </div>
                    </a>
                </div>
                <div class="social-wrapper govuk-!-margin-top-2">
                    <a target="_blank" rel="noopener noreferrer external" href="#21">
                        <img class="social-image" src="/public/images/instagram.svg" alt="Instagram" />
                        <div class="govuk-!-font-weight-bold">
                            <span class="govuk-visually-hidden">
                            Share on
                            </span>
                            BE Madrid on Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Our people</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <img src="/public/images/man.jpg" alt="man">
                <a href="#26" class="govuk-link govuk-!-font-weight-bold govuk-body-m">Hugh Elliott</a>
                <p class="govuk-body-s">British Ambassador to Spain</p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Contact us</h2>
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">British Embassy Madrid</p>
                <p>Torre Emperador Castellana <br>
                    Paseo de la Castellana 259D <br>
                    28046 Madrid <br>
                    Spain
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-!-margin-top-5">
                    Telephone <br>
                    +34 917 146 300 <br>
                    <br>
                    Fax <br>
                    +34 917 146 301
                </p>
            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-body govuk-!-margin-top-5">Use our contact form for consular enquiries, including on your rights after the UK’s exit from the EU: <br><a href="#23" class="govuk-link">www.gov.uk/contact-consulate-madrid</a></p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body-s">
                    <a class="govuk-link" href="#22">Access and opening times</a>
                </p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible thick-line">
        <h2 class="govuk-heading-m">Corporate information</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="#24">Complaints procedure</a></li>
            <li><a class="govuk-link" href="#25">Working for British Embassy Madrid</a></li>
        </ul>
    </div>
</div>

{% endblock %}
