{% extends "layouts/main.html" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block stylesheets %}
{{ super() }}
<link href="/public/css/step-nav.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
{{ super() }}
<div class="govuk-width-container">
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a test version of the layout of this page.'
  }) }}

  {{ govukBreadcrumbs({
    items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Help and services around the world",
      href: "https://www.gov.uk/world/all"
    }
    ]
  }) }}
</div>
{% endblock %}

{% block pageScripts %}
{{ super() }}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script src="/public/javascripts/step-by-step-polyfills.js"></script>
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">UK help and services in Spain</h1>

    <p class="govuk-caption-l">
      Services if you're visiting, studying, working or living in Spain. Includes information about trading with and doing business in the UK and Spain, and your rights after the UK’s exit from the EU.
    </p>

    <ul class="subscription-links govuk-!-margin-top-8">
      <li>
        <a href="#" class="subscription-links__item--link govuk-link--no-underline">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15.75" class="subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path>
          </svg>
          <span class="govuk-!-font-weight-bold">Get emails for this topic</span>
          <span class="govuk-visually-hidden">UK help and services in Spain</span>
        </a>
      </li>
      <li>
        <button class="govuk-link govuk-link--no-underline subscription-links__item--button">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path>
          </svg>
          <span class="govuk-!-font-weight-bold">Subscribe to feed</span>
        </button>
      </li>
    </ul>
    <section>
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all actions" data-hide-all-text="Hide all actions">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="emergency-help-for-british" >
            <article class="app-step-nav__header js-toggle-panel" data-position="1">
              <div class="app-step-nav__title">
                <span class="js-step-title">Emergency help for British nationals</span>
                <p class="js-step-hint">Get help if you're the victim of crime, you've been arrested, or are affected by a crisis abroad.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-emergency-help-for-british-1">

              <a href="https://www.gov.uk/victim-crime-abroad" class="govuk-link govuk-!-font-weight-bold">Get help if you're a victim of crime abroad</a>
              <p>Contact the nearest British embassy, high commission, consulate or the Foreign, Commonwealth and Development Office in London to get help if you're the victim of crime abroad</p>

              <a href="https://www.gov.uk/guidance/how-to-deal-with-a-crisis-overseas#" class="govuk-link govuk-!-font-weight-bold">If you’re affected by a crisis abroad</a>
              <p>Advice to British people affected by crises abroad such as large-scale terrorist attacks, natural disasters and political unrest, and how the FCDO can help.</p>

              <a href="https://www.gov.uk/government/publications/spain-guidance-for-uk-nationals-affected-by-domestic-violence" class="govuk-link govuk-!-font-weight-bold">Information pack for British nationals arrested or detained in Spain</a>
              <p>Information on the Spanish legal and prison systems for British prisoners, their family and friends.</p>

              <a href="https://www.gov.uk/government/publications/spain-information-for-victims-of-rape-and-sexual-assault" class="govuk-link govuk-!-font-weight-bold">Spain: information for victims of rape and sexual assault</a>
              <p>Information for British nationals who are victims of rape or sexual assault in Spain, including Andorra.</p>

              <a href="https://www.gov.uk/government/publications/spain-mental-health-support-abroad" class="govuk-link govuk-!-font-weight-bold">Spain: mental health support abroad</a>
              <p>Information about support for British nationals experiencing mental health difficulties in Spain.</p>

              <a href="https://www.gov.uk/government/collections/support-for-british-nationals-abroad" class="govuk-link govuk-!-font-weight-bold">Support for British nationals abroad</a>
              <p>This page lists guidance on how you can help yourself stay safe abroad, and the help the Foreign Commonwealth & Development Office (FCDO) can provide.</p>

              <a href="https://www.gov.uk/guidance/what-to-do-after-a-british-person-dies-in-spain" class="govuk-link govuk-!-font-weight-bold">What to do after a British person dies in Spain</a>
              <p>This guide gives advice about the death of a British person in Spain, including information on burial, cremation and repatriation.</p>

              <a href="https://www.gov.uk/guidance/professional-services-if-you-are-abroad" class="govuk-link govuk-!-font-weight-bold">Professional services if you are abroad</a>
              <p>Find English-speaking lawyers, doctors and medical providers, interpreters and translators, and funeral directors overseas.

              </p>




            </article>

          </li>

          <li class="app-step-nav__step js-step" id="passports-and-emergency" >
            <article class="app-step-nav__header js-toggle-panel" data-position="2">
              <div class="app-step-nav__title">
                <span class="js-step-title">Passports and emergency travel documents</span>
                <p class="js-step-hint">Includes how to cancel a lost passport, renew a passport and apply for an emergency travel document.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-passports-and-emergency-2">

              <a href="https://www.gov.uk/passport-application-while-visiting-uk" class="govuk-link govuk-!-font-weight-bold">Apply for or renew a British passport if you're visiting the UK</a>
              <p>
                You can apply for or renew a British passport while you're visiting the UK - as long as you expect to be in the UK for long enough
              </p>

              <a href="https://www.gov.uk/report-a-lost-or-stolen-passport" class="govuk-link govuk-!-font-weight-bold">Cancel a lost or stolen passport</a>
              <p>
                What you need to do if your passport has been lost or stolen and you need to travel urgently - emergency travel document and replacement passport.
              </p>

              <a href="https://www.gov.uk/emergency-travel-document" class="govuk-link govuk-!-font-weight-bold">Get an emergency travel document</a>
              <p>
                Apply for an emergency travel document if you're outside the UK and have not got a valid British passport - apply online, how to apply, fee, timings
              </p>

            </article>

          </li>

          <li class="app-step-nav__step js-step" id="travelling-to-spain" >
            <article class="app-step-nav__header js-toggle-panel" data-position="3">
              <div class="app-step-nav__title">
                <span class="js-step-title">Travelling to Spain</span>
                <p class="js-step-hint">Includes travel advice and how to get married abroad.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-travelling-to-spain-3">
              <a href="https://www.gov.uk/global-health-insurance-card" class="govuk-link govuk-!-font-weight-bold">Apply for a UK Global Health Insurance Card (GHIC)</a>
              <p>
                Applying for your free Global Health Insurance Card (GHIC) or European Health Insurance Card (EHIC): who can apply and where you can use them.
              </p>

              <a href="https://www.gov.uk/marriage-abroad" class="govuk-link govuk-!-font-weight-bold">Getting married abroad</a>
              <p>
                Requirements, paperwork and processes for weddings and civil partnerships overseas - registration, restrictions, fees
              </p>

              <a href="https://www.gov.uk/guidance/healthcare-for-uk-nationals-visiting-spain" class="govuk-link govuk-!-font-weight-bold">Healthcare for UK nationals visiting Spain</a>
              <p>
                How to get state healthcare when you’re on holiday or travelling to Spain.
              </p>

              <a href="https://www.gov.uk/foreign-travel-advice/spain" class="govuk-link govuk-!-font-weight-bold">Spain travel advice</a>
              <p>
                Latest FCDO travel advice for Spain including on entry requirements, safety and security and local laws and customs.
              </p>


            </article>

          </li>

          <li class="app-step-nav__step js-step" id="coming-to-the-uk" >
            <article class="app-step-nav__header js-toggle-panel" data-position="4">
              <div class="app-step-nav__title">
                <span class="js-step-title">Coming to the UK</span>
                <p class="js-step-hint">Get a visa to study, work or visit the UK.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-coming-to-the-uk-4">
              <a href="https://www.gov.uk/check-uk-visa" class="govuk-link govuk-!-font-weight-bold">Check if you need a UK visa</a>
              <p>
                You may need a visa to come to the UK to visit, study or work.
              </p>

              <a href="https://www.gov.uk/contact-ukvi-inside-outside-uk" class="govuk-link govuk-!-font-weight-bold">Contact UK Visas and Immigration for help</a>
              <p>
                How to contact UK Visas and Immigration (UKVI) for help with your application or immigration account, from inside and outside the UK.
              </p>

              <a href="https://www.gov.uk/visa-documents-returned" class="govuk-link govuk-!-font-weight-bold">Get your visa, immigration or citizenship documents back</a>
              <p>
                Get your documents returned if you've made a UK visa, immigration or citizenship application but need them back urgently
              </p>
            </article>

          </li>

          <li class="app-step-nav__step js-step" id="living-in-spain" >
            <article class="app-step-nav__header js-toggle-panel" data-position="5">
              <div class="app-step-nav__title">
                <span class="js-step-title">Living in Spain</span>
                <p class="js-step-hint">Guidance on your rights after the UK’s exit from the EU, accessing healthcare, getting a document legalised, English-speaking lawyers, how to vote abroad.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-living-in-spain-5">
              <a href="https://www.gov.uk/global-health-insurance-card" class="govuk-link govuk-!-font-weight-bold">Apply for a UK Global Health Insurance Card (GHIC)</a>
              <p>
                Applying for your free Global Health Insurance Card (GHIC) or European Health Insurance Card (EHIC): who can apply and where you can use them.
              </p>

              <a href="https://www.gov.uk/get-document-legalised" class="govuk-link govuk-!-font-weight-bold">Get your document legalised</a>
              <p>
                Use the online service to get a UK document legalised.
              </p>

              <a href="https://www.gov.uk/guidance/healthcare-in-spain-including-the-balearic-and-canary-islands" class="govuk-link govuk-!-font-weight-bold">Healthcare for UK nationals living in Spain</a>
              <p>
                How to get state healthcare if you live, work or study in Spain.
              </p>




              <a href="https://www.gov.uk/guidance/living-in-europe" class="govuk-link govuk-!-font-weight-bold">Living in Europe: citizens' rights if you moved before 1 January 2021</a>
              <p>
                Information for UK nationals living in the EU, EEA EFTA countries and Switzerland since before 1 January 2021, including guidance on residency and healthcare.
              </p>





              <a href="https://www.gov.uk/guidance/living-in-spain" class="govuk-link govuk-!-font-weight-bold">Living in Spain</a>
              <p>
                Information for British citizens moving to or living in Spain, including guidance on residency, healthcare and passports.
              </p>

              <a href="https://www.gov.uk/government/publications/useful-information-living-in-spain" class="govuk-link govuk-!-font-weight-bold">Living in Spain: useful information</a>
              <p>
                Information sheet with useful websites for British nationals living in Spain.

              </p>

              <a href="https://www.gov.uk/guidance/professional-services-if-you-are-abroad" class="govuk-link govuk-!-font-weight-bold">Professional services if you are abroad</a>
              <p>
                Find English-speaking lawyers, doctors and medical providers, interpreters and translators, and funeral directors overseas.

              </p>

              <a href="https://www.gov.uk/guidance/register-your-s1-form-in-spain-online" class="govuk-link govuk-!-font-weight-bold">Register your S1 form in Spain online</a>
              <p>
                How to register your S1 form in Spain using the Instituto Nacional de la Seguridad Social (INSS) online portal.

              </p>

              <a href="https://www.gov.uk/guidance/how-to-buy-property-in-spain" class="govuk-link govuk-!-font-weight-bold">Spain: buying and renting property</a>
              <p>
                Information on legal requirements and advice for British nationals buying or renting property in Spain.

              </p>

              <a href="https://www.gov.uk/government/publications/legal-aid-in-spain" class="govuk-link govuk-!-font-weight-bold">Spain: legal aid</a>
              <p>
                Guidance on how British nationals can obtain legal aid while in Spain.

              </p>

              <a href="https://www.gov.uk/guidance/residency-requirements-in-spain" class="govuk-link govuk-!-font-weight-bold">Spain: register your residency</a>
              <p>
                How UK nationals who plan to live in Spain for more than 3 months must register as a resident and on the padrón at their town hall.

              </p>

              <a href="https://www.gov.uk/uk-benefits-abroad" class="govuk-link govuk-!-font-weight-bold">UK benefits if you’re going or living abroad</a>
              <p>
                Find out what benefits you might be able to receive while you’re abroad and how to export them from the UK or claim them while abroad

              </p>

              <a href="https://www.gov.uk/voting-when-abroad" class="govuk-link govuk-!-font-weight-bold">Voting if you move or live abroad
              </a>
              <p>
                How to vote if you move or live abroad, including eligibility and registration
              </p>

            </article>

          </li>

          <li class="app-step-nav__step js-step" id="birth-death-marriage" >
            <article class="app-step-nav__header js-toggle-panel" data-position="7">
              <div class="app-step-nav__title">
                <span class="js-step-title">News and events</span>
                <p class="js-step-hint">Find out about the UK government's diplomatic, security, and development work in Spain.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-birth-death-marriage-7">
              <a href="https://www.gov.uk/world/spain/news" class="govuk-link govuk-!-font-weight-bold">Spain and the UK</a>
              <p>
                Updates, news and events from the UK government in Spain


              </p>

            </article>

          </li>


      <li class="app-step-nav__step js-step" id="trade-and-invest" >
            <article class="app-step-nav__header js-toggle-panel" data-position="7">
              <div class="app-step-nav__title">
                <span class="js-step-title">Trade and invest</span>
                <p class="js-step-hint">Includes investing and setting up a business in the UK and doing business in Spain.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-birth-death-marriage-7">
              <a href="https://www.gov.uk/world/organisations/department-for-international-trade-spain" class="govuk-link govuk-!-font-weight-bold">Department for International Trade Spain</a>
              <p>
                DIT provides trade and investment services and practical support. We help UK companies succeed in Spain, and Spanish companies set up and invest in the UK.
              </p>

              <a href="https://www.gov.uk/government/publications/overseas-business-risk-spain" class="govuk-link govuk-!-font-weight-bold">Overseas Business Risk - Spain
              </a>
              <p>
                Information on key security and political risks which UK businesses may face when operating in Spain.
              </p>

              <a href="https://www.gov.uk/set-up-business" class="govuk-link govuk-!-font-weight-bold">Set up a business</a>
              <p>
                What you need to do to start a business: choose a legal structure, see if you need licences and insurance, learn about reliefs and benefits
              </p>

              <a href="https://www.gov.uk/world/organisations/uk-science-innovation-network-in-spain" class="govuk-link govuk-!-font-weight-bold">UK Science & Innovation Network in Spain</a>
              <p>
                Science and innovation underpin the economies of both Spain and the UK. Encouraging work between the two countries therefore produces benefits for both.
              </p>
            </article>

          </li>

          
          <li class="app-step-nav__step js-step" id="birth-death-marriage" >
            <article class="app-step-nav__header js-toggle-panel" data-position="7">
              <div class="app-step-nav__title">
                <span class="js-step-title">British embassies, high commissions and consulates</span>
                <p class="js-step-hint">Includes contact details, opening hours and consular fees and local services.</p>
              </div>
            </article>

            <article class="app-step-nav__panel js-panel js-hidden" id="step-panel-birth-death-marriage-7">
              <a href="https://www.gov.uk/world/organisations/british-consulate-alicante" class="govuk-link govuk-!-font-weight-bold">British Consulate Alicante</a>
              <p>
                The British Consulate in Alicante represents the UK government in Alicante and Murcia regions of Spain.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-general-barcelona" class="govuk-link govuk-!-font-weight-bold">British Consulate General Barcelona</a>
              <p>
                The British Consulate General in Barcelona represents the UK government in Catalonia, Aragon and Andorra.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-general-madrid" class="govuk-link govuk-!-font-weight-bold">British Consulate General Madrid</a>
              <p>
                The British Consulate General in Madrid represents the UK government in Madrid, northern and central Spain.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-ibiza" class="govuk-link govuk-!-font-weight-bold">British Consulate Ibiza</a>
              <p>
                The British Consulate Ibiza represents the UK government in Ibiza and Formentera.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-las-palmas-de-gran-canaria" class="govuk-link govuk-!-font-weight-bold">British Consulate Las Palmas de Gran Canaria</a>
              <p>
                The British Consulate in Las Palmas de Gran Canaria represents the UK government in Gran Canaria, Lanzarote and Fuerteventura.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-malaga" class="govuk-link govuk-!-font-weight-bold">British Consulate Malaga</a>
              <p>
                The British Consulate in Malaga represents the UK government in Andalucia, Ceuta or Melilla.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-palma-de-mallorca" class="govuk-link govuk-!-font-weight-bold">British Consulate Palma de Mallorca</a>
              <p>
                The British Consulate in Palma de Mallorca represents the UK government in Mallorca and Menorca.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-embassy-madrid" class="govuk-link govuk-!-font-weight-bold">British Embassy Madrid</a>
              <p>
                The British Embassy in Madrid maintains and develops relations between the UK and Spain.
              </p>

              <a href="https://www.gov.uk/world/organisations/british-consulate-santa-cruz-de-tenerife" class="govuk-link govuk-!-font-weight-bold">British Consulate Santa Cruz de Tenerife</a>
              <p>
                The British Consulate in Santa Cruz de Tenerife represents the UK government living in and visiting Tenerife, La Palma, La Gomera and El Hierro.
              </p>

            </article>
          </li>

    


        </ol>
      </div>
    </section>
  </div>
</div>

{% endblock %}
