{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-m">
      <a href="/british-embassy">
        Madrid embassy page
      </a>
    </h2>
    <h2 class="govuk-heading-m">
      <a href="/help-and-services">
        Help and services in Spain
      </a>
    </h2>
    <h2 class="govuk-heading-m">
      <a href="/germany">
        Germany
      </a>
    </h2>


  </div>
</div>

{% endblock %}
